.home-page {
  height: auto;
  display: flex;
  margin-left: 100px;
  font-family: 'VT323', monospace;
}

.typing {
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin-top: 150px;
  font-family: 'VT323', monospace;
}
.typing-hi > span {
  color: #e7f6f2;
  font-size: 35px;
  font-family: 'VT323', monospace;
}

.typing-name > span {
  color: #e7f6f2;
  font-size: 70px;
  font-family: 'VT323', monospace;
}

.typing-role > span {
  font-family: 'VT323', monospace;
}

.contact-btn {
  font-family: 'VT323', monospace;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 150px;
  padding: 10px 20px;
  border: 2px solid #e7f6f2;
  background-color: #2c3333;
  text-decoration: none;
  color: #e7f6f2;
  //   transition: 0s background-color;
  opacity: 0;
  animation: backInRight 2s 1s;
  animation-fill-mode: forwards;
}

.contact-btn:hover {
  background-color: #e7f6f2;
  color: #2c3333;
  //   transition-delay: 0.3s;
}
.pic-container {
  position: absolute;
  right: 150px;
  bottom: 50px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #e7f6f2;
  background-color: #2c3333;
  opacity: 0;
  animation: backInRight 2s 2s;
  animation-fill-mode: forwards;
}
.homepage-pic {
  // position: absolute;

  margin-top: -80px;
  margin-left: -80px;
  height: 400px;

  // right: 0;
}
.logo-pic {
  position: absolute;
  opacity: 0;
  animation: backInRight 2s 2s;
  animation-fill-mode: forwards;
  margin-top: 300px;
  z-index: -1;
  right: 100px;
  height: 250px;
}

@media screen and (max-width: 800px) {
  .home-page {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pic-container {
    margin: 0px;
    align-items: center;
    position: absolute;
    // margin-top: 1200px;
    top: 450px;
    right: initial;
    height: 300px;
    width: 300px;
  }
  .homepage-pic {
    // position: absolute;

    margin-top: -90px;
    margin-left: -80px;
    height: 500px;

    // right: 0;
  }
  .logo-pic {
    position: absolute;
    // align-items: center;
    margin-left: -400px;
    margin-top: 340px;
    z-index: -1;
    right: initial;
    height: 350px;
  }
}
