.navbar {
  display: flex;
  flex-direction: column;
  width: 80px;
  background-color: #2c3333;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  min-height: 500px;
  gap: 50px;

  .link {
    .icon:hover {
      color: #ffe760;
    }
  }
}

.active > .icon {
  color: #ffd700;
}
